@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.visibility--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@keyframes appear-slowly-from-top {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appear-slowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  margin: 0 auto;
}

body {
  font-family: "Lato", sans-serif;
}

main {
  max-width: 1400px;
  min-width: 300px;
  margin: 0 auto;
}

.background--color1 {
  background-color: #3282f7;
}
.background--color2 {
  background-color: #68d9a4;
}
.background--color3 {
  background-color: #ed6454;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
.logo img {
  width: 250px;
}

.search-bar {
  position: relative;
}
.search-bar__input {
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 24px 0px;
  padding-left: 20px;
  background-color: #e7e7e7;
  border: 0;
}
.search-bar__button {
  padding: 20px;
  position: absolute;
  right: 2%;
  top: 0;
  border: 0;
  font-size: 28px;
  display: flex;
  align-items: center;
  background-color: #e7e7e7;
  cursor: pointer;
}

.selector {
  margin: 20px 0px;
  margin-right: 20px;
  flex-basis: 12%;
  position: relative;
  transition: all 300ms ease-in-out;
}
.selector__search {
  height: 70px;
  box-sizing: border-box;
  padding: 0px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selector__search__input {
  border: 0;
  font-size: 1.1em;
  font-weight: 700;
  background-color: transparent;
  color: white;
  height: 100%;
  width: 100%;
}
.selector__search__input:focus {
  outline: none;
}
.selector__search__icon {
  color: white;
  font-size: 20px;
}
.selector__elements {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  height: 330px;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0;
  color: white;
  list-style: none;
  font-size: 1.1em;
  padding-left: 20px;
  z-index: 50;
}
.selector__elements__item {
  padding: 5px 0px;
  text-transform: capitalize;
  cursor: pointer;
}
.selector--is-open {
  flex-basis: 60%;
}
.selected-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  height: 35px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
  animation: appear-slowly 500ms linear;
}
.selected-tag__label {
  margin-left: 5px;
  font-weight: 700;
  font-size: 0.9em;
  padding-right: 5px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.selected-tag__button {
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
}
.selected-tag__button i {
  font-size: 20px;
}

.ingredient-item {
  display: flex;
  align-items: center;
  font-size: 0.7em;
}
.ingredient-item__name {
  font-weight: 700;
  margin-right: 5px;
}
.ingredient-item__name::after {
  content: ": ";
}
.recipe-card {
  box-sizing: border-box;
  flex-basis: 31%;
  margin: 20px auto;
  box-sizing: border-box;
  animation: appear-slowly 500ms linear;
}
.recipe-card__picture {
  height: 190px;
  background-color: #c7bebe;
}
.recipe-card__content {
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
}
.recipe-card__content__header {
  margin-bottom: 0;
  padding: 0px 20px;
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-card__content__header__title {
  font-weight: 400;
  font-size: 1.1em;
}
.recipe-card__content__header__time {
  font-size: 1.1em;
  font-weight: 700;
}
.recipe-card__content__body {
  height: 200px;
  display: flex;
  flex-basis: 60%;
  padding: 20px;
  padding-top: 0;
}
.recipe-card__content__body__ingredients {
  flex-basis: 50%;
}
.recipe-card__content__body__instruction {
  margin: 0;
  flex-basis: 50%;
  font-size: 0.7em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 110px;
}
@media screen and (max-width: 1192px) {
  .recipe-card {
    flex-basis: 47%;
  }
}
@media screen and (max-width: 768px) {
  .recipe-card {
    flex-basis: 100%;
  }
}

.no-results {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  animation: appear-slowly 500ms linear;
}
.no-results h2 {
  color: #ed6454;
}
.no-results i {
  color: #ed6454;
}
.no-results p {
  font-size: 0.8;
}

.search {
  margin: 0px 20px;
}

.recipes {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  min-height: 500px;
}

.selectors {
  display: flex;
  margin: 0px 20px;
  flex-wrap: wrap;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;
  min-height: 55px;
}

/*# sourceMappingURL=style.css.map */
