.selected-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  height: 35px;
  border-radius: 5px;
  //   padding: 5px 10px;
  color: $text-color1;
  margin-top: 20px;
  margin-right: 20px;
  animation: appear-slowly 500ms linear;

  &__label {
    margin-left: 5px;
    font-weight: 700;
    font-size: 0.9em;
    padding-right: 5px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__button {
    background-color: transparent;
    color: $text-color1;
    border: 0;
    cursor: pointer;
    transition: all 1s linear;

    &:hover {
      transform: scale(1.2);
    }

    & i {
      font-size: 20px;
    }
  }
}
