.selector {
  margin: 20px 0px;
  margin-right: 20px;
  flex-basis: 12%;
  position: relative;
  transition: all 300ms ease-in-out;
  min-width: 170px;
  border-radius: 5px;

  &__search {
    height: 70px;
    box-sizing: border-box;
    padding: 0px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
      border: 0;
      font-size: 1.1em;
      font-weight: 700;
      background-color: transparent;
      color: $text-color1;
      height: 100%;
      width: 100%;
      &:focus {
        outline: none;
      }
    }

    &__icon {
      color: $text-color1;
      font-size: 20px;
    }
  }

  &__elements {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    top: 64px;
    position: absolute;
    height: 330px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
    color: $text-color1;
    list-style: none;
    font-size: 1.1em;
    padding-left: 20px;
    z-index: 50;
    overflow-y: hidden;
    border-radius: 5px;

    &__item {
      padding: 5px 0px;
      text-transform: capitalize;
      cursor: pointer;
    }
  }

  &--is-open {
    flex-basis: 60%;
  }

  @include tablet-design {
    &__elements {
      flex-wrap: nowrap;
      overflow-y: scroll;
    }
  }
}
